.App {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

body {
    background: linear-gradient(
            -45deg,
            #ee7752,
            #e73c7e,
            #23a6d5,
            #23d5ab,
            #c35ed5,
            #23d517
    );
    background-size: 1800% 1800%;
    animation: gradientBG 195s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.specialNumBox {
    width: 50px;
    height: 50px;
    font-size: x-large;
    background-color: #f8386b;
    text-align: center;
    border-radius: 15px;
}

.numbox {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #d5f33e;
    font-size: x-large;
    -moz-appearance: textfield;
    text-align: center;
    border-radius: 15px;
}

.numbox::-webkit-inner-spin-button {
    display: none;
}

.specialNumBox::-webkit-inner-spin-button {
    display: none;
    text-align: center;
}

#inputBank {
    width: 90px;
    text-align: center;
    padding-top: 10px;
}

.numboxBank {
    height: 40px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #d5f33e;
    font-size: x-large;
    -moz-appearance: textfield;
    text-align: center;
}

.numboxBank::-webkit-inner-spin-button {
    display: none;
}

.btn, .btn5-mini{
    margin: 5px;
    padding: 15px 34px;
    overflow: hidden;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-width: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    outline: none;
    cursor: pointer;
}

.btn1 {
    background: linear-gradient(90deg, #c600b2, #7619fd);
}

.btn1:disabled {
    background: linear-gradient(90deg, #797678, #9c9b9d);
    cursor: no-drop;
}

.btn2 {
    background: linear-gradient(90deg, #a3ffb0, #2bd9e8);
}

.btn3 {
    background: linear-gradient(90deg, #49c2ff, #ff6150, #ffde1f, #7cc6ff);
}

.btn4 {
    background: linear-gradient(90deg, #38ffb1, #17d215);
}

.btn5 {
    background: linear-gradient(90deg, #eac6b7, #e8adcd);
}

.btn5-mini{
    padding: 5px 10px;
    background: linear-gradient(90deg, #3f3fe5, #94dbcc);

}



.btn:before,
.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
    opacity: 0.1;
    background: black;
    transform: skewX(25deg);
    transition: 0.5s ease;
}

.btn:hover:before {
    left: -10%;
    transition: 0.3s ease;
}

.btn:hover:after {
    left: -20%;
}

.input-form {
    display: inline-flex;
}

.h1-main {
    font-size: 5vw;
    background: linear-gradient(94.23deg, rgba(8, 50, 217, 0.5) 12.41%, rgba(232, 47, 5, 0.7) 52.55%, rgba(14, 243, 198, 0.8) 89.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
}

table td {
    text-align: left;
    height: 3vw;
}

.white-cir,.red-cir, .gray-cir,.redWin-cir  {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin: 10px 8px 10px 0;
    font-size: 19px;
    color: #2f3e4a;
    padding: 5px;
}

.red-cir {
    background-color: #e30c07;
}
.redWin-cir {
    background-color: #ff4038;
    color: white;
    border-radius: 50px;
    border: 1px solid #0048ff;
    width: 50px;
    height: 50px;
}

.gray-cir {
    background-color: #b8b4b4;
}

.Stats {
}

.footer {
    display: flex;
    color: white;
    text-align: center;
    background: rgba(83, 238, 181, 0.5);
    align-content: flex-end;
    margin-top: 5vw;


}